<!--
BEFORE ANYTHING:
I know that this code is shitty, I created this in 15 minutes ¯\_(ツ)_/¯
-->

<!DOCTYPE html>
<html>
  <head>
    <title>FiveM status page</title>
  </head>
  <body>
    <h1>FiveM status page</h1>
    <p>Main webserver: <%- status.main %></p>
    <p>Servers page: <%- status.servers %></p>
    <p>Servers api: <%- status.serverapi %></p>
    <p>Runtime: <%- status.runtime %></p>
    <p>Metrics: <%- status.metrics %></p>
    <p>Key server: <%- status.keymaster %></p>
    <br>
    <p>Created by beecoding ¯\_(ツ)_/¯</p>
    <p style="font-style: italic">"I know that it looks shitty but at least it works"</p>
  </body>
</html>
